@model QuizApplication.Models.Login
<html>
    <head></head>
    <body>
        <form action="login" method="post">
            <h3>
                <label for="email">Email: </label>
                <input name="email" type="email" id="email" value="user@example.com"/>
            </h3>
            <h3>
                <label for="password">Password: </label>
                <input name="password" type="password" id="password" />
            </h3>
            <button class="btn btn-primary" value="submit">Login</button>
        </form>
    </body>
</html>